# Project exclude paths
/target/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_assimp_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_assimp_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_bgfx_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_bgfx_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_cuda_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_egl_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_glfw_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_glfw_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_jawt_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_jemalloc_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_jemalloc_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_libdivide_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_libdivide_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_llvm_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_llvm_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_lmdb_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_lmdb_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_lz4_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_lz4_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_meow_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_meow_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_nanovg_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_nanovg_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_nfd_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_nfd_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_nuklear_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_nuklear_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_odbc_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_openal_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_openal_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_opencl_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_opengl_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_opengl_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_opengles_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_opengles_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_openvr_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_openvr_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_opus_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_opus_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_ovr_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_ovr_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_par_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_par_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_remotery_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_remotery_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_rpmalloc_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_rpmalloc_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_shaderc_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_shaderc_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_sse_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_sse_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_stb_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_stb_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_tinyexr_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_tinyexr_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_tinyfd_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_tinyfd_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_tootle_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_tootle_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_vma_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_vma_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_vulkan_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_xxhash_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_xxhash_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_yoga_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_yoga_natives_windows_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_zstd_3_2_3.xml
/.idea/libraries/Maven__org_lwjgl_lwjgl_zstd_natives_windows_3_2_3.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
